{% extends 'base.html' %}
{% block title %}Login{% endblock %}  
{% block content %}

<div class="container"> 

    <h1 class="text-center">Login</h1>
    <br>
    <div style="margin-left: 25%;">
        <div class="col-sm-8">
            <div class="form-group" >
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" >Login</button>
            </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}