{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}  
{% block content %}


<div class="container">
    <a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
    <br><br>
    <div class="card" style="border-radius: 2%;margin-left: 10%;margin-right: 10%;padding: 10%; padding-top: 2%;padding-bottom: 2%;">
        <br><br>
        <h1 style="text-align: center;">Post Detail</h1>
        <br>
        
        <h2 style="text-align: center;">{{ post.title }}</h2>
        <br>
        By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }} 
        {% if user.is_authenticated %}- <a href="{% url 'update-post' post.pk %}">Edit</a> - <a href="{% url 'delete-post' post.pk %}">Delete</a>{% endif %}
        <br><br>
        {{ post.body|safe }}

        <br><br>
    </div>
</div>

{% endblock %}